body{
    font-size: 15px;

    .wrapper{
        width: 1200px;
        margin: auto;
        color: red;
    }
}

.nav{
    display: flex;
    list-style: none;
}

.example{
    transition: 1s all ease;
    user-select: none;
}